@import 'functions';
@import 'variables';
@import 'mixins/breakpoints';
@import 'mixins/grid';
@import 'mixins/container';

@import 'reboot';

@import 'container';
@import 'grid';

$blue: rgb(65, 117, 214);
$blue-dark: rgb(216, 130, 80);

.debug {
  background-color: $blue;
  border: 1px solid $blue-dark;
}
